
learning-thread/hs_err_pid76788.log
learning-thread/hs_err_pid13012.log
learning-thread/hs_err_pid77968.log
learning-thread/target/classes/META-INF/maven/learning-parent/learning-thread/pom.properties

##############################
## Folders                  ##
##############################
target
classes
bin

##############################
## files                    ##
##############################


.settings
*.classpath
*.project
.DS_Store
*.p
*.class
